@import "tailwindcss";

@layer base {
  body {
    @apply bg-linear-to-br from-gray-950 via-gray-900 to-gray-950 text-gray-100 antialiased;
  }
  
  * {
    @apply border-gray-800;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
